[Unit]
Description=Self Hosting Agent
Documentation=https://github.com/pipalacademy/self-hosting-agent/
After=network-online.target
Requires=network-online.target

StartLimitIntervalSec=500
StartLimitBurst=5

[Service]
ExecStart=/usr/bin/self-hosting-agent --config /etc/self-hosting-agent/config.toml
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target